#images-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
    background: url("images/folder.png") no-repeat;
    background-size: 64px 64px;
    height: 64px;
    width: 64px;
}

.x-quirks #images-view .thumb {
    padding-bottom: 3px;
}

#images-view .thumb-wrap{
    float: left;
    margin: 4px 0 4px 4px;
    padding: 5px;
}
#images-view .thumb-wrap span {
    padding-top:3px;
    display: block;
    overflow: hidden;
    text-align: center;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted #3399bb;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
}